* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
.header-wrapper {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  background: #000000;
}
.header-background {
  display: flex;
  justify-content: space-between;
}
.header-navigation-list {
  display: flex;
  align-items: center;
}
.header-navigation-list__item {
  padding: 30px;
}
.header-navigation-list__item a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  text-transform: capitalize;
  color: #ffffff;
}
.header-navigation-list__item:hover{
    background: #ec7979;

}
.header-navigation-list__item:active{
    background: #ab4949;

}
.banner-wrapper {
  position: relative;
  background: url(../img/imagebackground_banner.png) no-repeat;
  background-size: cover;
}
.banner-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.banner-items {
  position: relative;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 208px;
  padding-bottom: 185px;
  z-index: 2;
}
.banner-logo {
  display: flex;
  margin-bottom: 73px;
  margin-top: 23px;
}
.banner-logo-AX {
  width: 102px;
  height: 55px;
}
.banner-logo-IT {
  width: 63px;
  height: 55px;
}
.banner-title-container {
  width: 670px;
  height: 168px;
  margin-bottom: 55px;
}
.banner-title {
  display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
  text-transform: uppercase;
}
.banner-line {
  width: 170px;
  border: 1px solid #ffffff;
  margin-bottom: 42px;
}
.banner-discription {
  margin-bottom: 42px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.banner-button {
  width: 270px;
  height: 58px;
  border: 2px solid #ffffff;
  background: rgba(0, 0, 0, 0);
}
.banner-button:hover{
    color:#ec7979;
    border: 2px solid #ec7979;
    
}
.banner-button__a:hover{
color:#ec7979
}
.banner-button:active{
    background: #ab4949;
    border: 2px solid #ab4949;
}
.banner-button__a {
  color: #ffffff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
}
.banner-box {
  width: 470px;
  height: 450px;
  background: #ffffff;
  margin-left: 30px;
  border-radius: 10px;
  padding-top: 23px;
}
.banner-box-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 68px;
}
.third-word-color {
  color: #ec7979;
}
.banner-input-container {
  width: 370px;
  height: 38px;
  border-width: 0px 0px 1px;
  display: block;
  margin: 0 auto;
  outline: none;
}
.banner-input-container__name,
.banner-input-container__email {
  margin-bottom: 33px;
}
input::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.banner-box-button {
  position: relative;
  bottom: -86px;
  width: 470px;
  height: 60px;
  background-color: #ec7979;
  color: #ffffff;
  border-radius: 0px 0px 10px 10px;
  border: 0px;
}
.banner-box-button:hover{
    background: #ab4949;
}
.banner-box-button:active{
    background: #ec7979;
}
.social-media-wrapper {
  background: #f8efef;
}
.social-media-discription {
  width: 470px;
  margin-left: 50px;
}
.social-media__items {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.social-media__title {
  margin-top: 16px;
  margin-bottom: 31px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}
.social-media__title-2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 18px;
  color: #86878b;
}

.social-media-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-media-list {
  display: flex;
  align-items: center;
}
.social-media-list__item {
  font-size: 60px;
  color: #cccccc;
  margin-right: 40px;
}
.social-media-list__item-rss {
  font-size: 70px;
  color: #cccccc;
}
.tabs {
  max-width: 1170px;
  height: 40x;
  margin: 0 auto;
  font-size: 0;
  margin-top: 99px;
}
.tab-head-btn {
  display: inline-block;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 70px;
  margin-bottom: -1px;
}

.tab-head-btn.active {
  background: white;
  border: 1px solid #c6cbcd;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}

.tab-body {
  border: 1px solid #c6cbcd;
  padding-left: 100px;
  background: white;
  display: flex;
  justify-content: space-between;
}
.tabs-description {
  vertical-align: top;
}
.tabs-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40.85px;
  padding-top: 1.5em;
  height: 124px;
}
.tabs-text1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 1em;
  margin-top: 27px;
}
.tabs-text2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.tabs-button {
  width: 270px;
  height: 58px;
  margin-top: 27px;
  background-color: #ec7979;
  
  border-width: 0px;
}
.tabs-button__a{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: white;
    text-decoration: none;
}
.tabs-button:hover {
  background-color: #ab4949;
}
.tabs-button:active {
  background-color: #ec7979;
  box-shadow: insert 0px 0px 10px #ab4949;
}
.tabs-img {
  width: 470px;
  height: 500px;
}

.awesome {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 104px;
}

.awesome-section-title {
  position: relative;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 36px;
  font-style: normal;
  text-align: center;
  padding-bottom: 54px;
}
.awesome-section-title::after{
    position: absolute;
    content: "";
    width: 170px;
    height: 1px;
    background: #ec7979;
    left: calc(50% - 85px);
    bottom: 0;

}
.awesome-section-text {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 110px;
}
.awesome-group-items {
  width: 1170px;
  margin-bottom: 58px;
}
.awesome-group-element {
  display: inline-block;
  width: 370px;
  height: 383px;
}
.awesome-group-icon {
  width: 92px;
  height: 92px;
  border: 1px solid #ec7979;
  border-radius: 50%;
  margin: 39px 139px 39px 139px;
}
.awesome-img1 {
  margin: 13.35px 13.35px 13.35px;
  width: 65.29px;
  height: 65.29px;
}
.awesome-img2 {
  margin: 23px 13px 23px 13px;
  width: 66px;
  height: 46px;
}
.awesome-img3 {
  margin: 13px 22px 13px 26px;
  width: 44px;
  height: 66px;
}
.awesome-title-container {
  width: 369px;
  height: 100px;
  margin-bottom: 8px;
  margin-top: 39px;
}
.awesome-title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 100px;
  text-align: center;
}

.awesome-maintext {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
  padding: 0 16px;
}

.pricing-wrapper {
  background-color: #f5f5f5;
}
.pricing {
  background-color: #f5f5f5;
  max-width: 1200px;
  padding: 0 15px;
  font-size: 0;
  margin: 0 auto;
}
.pricing-title {
  position: relative;
  padding-top: 104px;
  padding-bottom: 54px;
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
}
.pricing-title::after {
  position: absolute;
  content: "";
  bottom: 0;
  background: #ec7979;
  left: calc(50% - 85px);
  width: 170px;
  height: 1px;
}
.pricing-description {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 79px;
  margin-top: 40px;
}
.pricing-containers {
  display: flex;
  justify-content: space-around;
}

.pricing-containers__item__block-1 {
  width: 370px;
  height: 60px;
  background-color: #333333;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  border: 1px solid #f5f5f5;
}
.pricing-containers__item__block-2 {
  width: 370px;
  height: 100px;
  background-color: #333333;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  border: 1px solid #f5f5f5;
}
.pricing-containers__item {
  margin-bottom: 50px;
}
.pricing-containers__item:hover {
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
  margin-top: -20px;
}
.pricing-containers__item__block-3 {
  width: 370px;
  height: 50px;
  background-color: #333333;
  border: 1px solid #f5f5f5;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.pricing-containers__item__block-4 {
  width: 370px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.customers-wrapper {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.customers-title {
  position: relative;
  margin-top: 104px;
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  padding-bottom: 54px;
}
.customers-title::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: calc(50% - 85px);
  width: 170px;
  height: 1px;
  background: #ec7979;
}
.customers-title-text {
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
  margin-top: 40px;
  margin-bottom: 83px;
}
.customers-containers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 66px;
}
.customers-container__item {
  position: relative;
  width: 370px;
  height: 180px;
  background: #e2e2e2;
  border-radius: 10px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #86878b;
  padding: 37px 20px;
  margin-bottom: 66px;
}
.customers-container__item::before {
  position: absolute;
  content: "";
  left: 65px;
  top: 100%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #e2e2e2;
}
.customers-managers {
  display: flex;
  justify-content: space-between;
}
.customers-managers-container {
  display: flex;
  justify-content: space-between;
  width: 370px;
  margin-bottom: 64px;
}
.customers-manager-name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 15px;
}
.customers-manager-h5 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.customers-managers-container-text-1 {
  margin-right: 37px;
}
.customers-managers-container-text-2 {
  margin-right: 102px;
}
.customers-managers-container-text-3 {
  margin-right: 78px;
}
.design-wrapper {
  position: relative;
  background: url(../img/imageDesign_BAckground.png) 100% 100% no-repeat;
  background-size: cover;
  padding-top: 104px;
  padding-bottom: 50px;
}
.design-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.design-items {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.design-title {
  position: relative;
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  padding-bottom: 54px;
  color: #ffffff;
}
.design-title::after {
  position: absolute;
  content: "";
  width: 170px;
  height: 1px;
  background: #e2e2e2;
  bottom: 0;
  left: calc(50% - 85px);
}
.design-discription {
  margin-top: 40px;
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.design-button {
  display: block;
  margin: 0 auto;
  width: 370px;
  height: 58px;
  background: rgba(0, 0, 0, 0);
  border: 2px solid #ffffff;
  
  margin-top: 73px;
  
}
.design-button__a{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    text-decoration: none;
}
.design-button__a:hover{
    color:#ec7979;
}
.design-button:hover{
    color:#ec7979;
    border: 2px solid #ec7979;
}
.design-button:active{
    background: #ab4949;
    border: 2px solid #ab4949;
}
.contact {
  padding-left: 170px;
  padding-right: 170px;
}
.contact_content {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  padding-top: 104px;
  padding-bottom: 50px;
}
.contact-title {
  position: relative;
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  padding-bottom: 54px;
}
.contact-title::after {
  position: absolute;
  content: "";
  width: 170px;
  height: 1px;
  background: #ec7979;
  bottom: 0;
  left: calc(50% - 85px);
}
.contact-second-title {
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
  margin-bottom: 89px;
  margin-top: 40px;
}
.contact-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.contact-input-container {
  width: 571px;
  height: 38px;
  border-width: 0px 0px 1px;
  outline: none;
  font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}
.contact-input-container::placeholder{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}
.contact-input-container-name,
.contact-input-container-email {
  margin-bottom: 50px;
  margin-right: 30px;
}

.contact-textarea-container-message {
  width: 570px;
  height: 214px;
  border-width: 0px 0px 1px;
outline: none;
resize: none;
font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}
.contact-textarea-container-message::placeholder{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}
.contact-button {
  display: block;
  margin: 0 auto;
  width: 370px;
  height: 50px;
  background-color: #ec7979;
  border: 0px solid;
}
.contact-button__a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  text-decoration: none;
}
.contact-button:hover {
  background-color: #ab4949;
}
.contact-button:active {
  background-color: #ec7979;
  box-shadow: insert 0px 0px 10px #ab4949;
}

.footer-wrapper {
  background: #000000;
}
.footer-icons {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  padding: 35px 276px 27px 276px;
}
.footer-ul {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.footer-text {
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}
